<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Enregistrer</servlet-name>
        <servlet-class>ctrl.Enregistrer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Suppression</servlet-name>
        <servlet-class>ctrl.Suppression</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recherche</servlet-name>
        <servlet-class>ctrl.Recherche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modification</servlet-name>
        <servlet-class>ctrl.Modification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Confirmation</servlet-name>
        <servlet-class>ctrl.Confirmation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Saisir</servlet-name>
        <jsp-file>/jsp/saisir.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Modifier</servlet-name>
        <jsp-file>/jsp/modifier.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Lire</servlet-name>
        <jsp-file>/jsp/lire.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SelectionS</servlet-name>
        <jsp-file>/jsp/selectionS.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ConfirmationS</servlet-name>
        <jsp-file>/jsp/confirmationS.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Rechercher</servlet-name>
        <jsp-file>/jsp/rechercher.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ResultatS</servlet-name>
        <jsp-file>/jsp/resultatS.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <jsp-file>/jsp/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectionS</servlet-name>
        <url-pattern>/SelectionS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmationS</servlet-name>
        <url-pattern>/ConfirmationS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rechercher</servlet-name>
        <url-pattern>/Rechercher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recherche</servlet-name>
        <url-pattern>/Recherche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultatS</servlet-name>
        <url-pattern>/ResultatS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Enregistrer</servlet-name>
        <url-pattern>/Enregistrer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lire</servlet-name>
        <url-pattern>/Lire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Saisir</servlet-name>
        <url-pattern>/Saisir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Suppression</servlet-name>
        <url-pattern>/Suppression</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Confirmation</servlet-name>
        <url-pattern>/Confirmation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modifier</servlet-name>
        <url-pattern>/Modifier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modification</servlet-name>
        <url-pattern>/Modification</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
